body {
  margin: 0;
}

.container {
  border: 1px solid black;
  margin: 30px auto;
  width: 960px;
  height: 960px;
}

tr, td, .cell {
  margin: 0;
}

td {
  float:left;
  padding: 0;
}

.cell:hover {
  background-color: red;
}